<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm email Account</title>
</head>
<body>

<p>
    Hello {{.FullName}}, <br>
    your account is almost ready, to complete your registration you still have to confirm your account.
</p>

<p>
    To confirm your account please <a href="{{.Url}}">click here</a> to confirm that your email is valid.
</p>
<p>
    As alternative you can use the following url: <a href="{{.Url}}">{{.Url}}</a>
</p>

</body>
</html>