<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm email Account</title>
</head>
<body>

<p>
    Hello {{.FullName}}, <br>
    We are here to help you recovering your password.
</p>

<p>
    To reset your password please <a href="{{.Url}}">click here</a>.
</p>
<p>
    As alternative you can use the following url: <a href="{{.Url}}">{{.Url}}</a>
</p>

</body>
</html>