{{define "master"}}<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>

    <link rel="stylesheet" href="/static/css/fontawesome.css">
    <link rel="stylesheet" href="/static/css/simpleNotification.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/CommonVue.css">

</head>
<body class="stage">
<header class="page-header">
    <div class="title"><a href="/account/dashboard">Users Manager</a></div>
    <div class="content">
        <div class="main-menu">
            <a href="/users"><i class="fas fa-users"></i> Users</a>
        </div>
        <div class="h-options">
            <a href="/users/detail/{{.User.PublicID}}"><i class="fas fa-user"></i> {{.User.FullName}}</a>
            <a href="/account/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            <a href="/account/change-password">Change Password</a>
        </div>
    </div>
</header>
<div class="page-container" id="app">
    <div class="aside">

        {{- block "aside" . -}}aside{{end}}

    </div>
    <div class="stage">

        {{- block "body" . -}}body{{end}}

    </div>
</div>

<script src="/static/js/jquery-3.5.1.min.js" type="application/javascript"></script>
<script src="/static/js/simpleNotification.min.js" type="application/javascript"></script>
<script src="/static/js/jquery-additions.js" type="application/javascript"></script>
<script src="/static/js/vue.min.js" type="application/javascript"></script>
<script src="/static/js/common.js" type="application/javascript"></script>

{{block "scripts" .}}{{end}}

</body>
</html>{{end}}