
.on {
    color: #00D31E;
}

.off {
    color: #E21500;
}

.dis {
    color: #D5D3D1;
}

.pager {
    display: grid;
    grid-auto-flow: column;
    padding: 0 0 3px 3px;
}

.pager .page {
    background-color: #b9b4af;
    color: #8b8783;
    margin-right: 3px;
    border-radius: 3px;
    margin-top: 3px;
    padding: 5px 9px;
}

.pager .page:hover {
    background-color: #a29e99;
    cursor: pointer;
    color: #2e2c2b;
}

.pager .page-active, .pager .page-active:hover {
    background-color: #8b8783;
    cursor: default;
    color: #2e2c2b;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0 !important;
    padding-top: 7px;
    font-weight: bold;
}
