:root {

}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    font-size: 12px;
    background: #CFCAC4;
    color: #2E2C2B;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

body.login {
    display: grid;
    grid-template-areas: "left center right";
    grid-template-columns: auto 300px auto;
}


.window-box {
    display: grid;
    grid-template-areas: "windowTitle" "windowBody" "windowFooter";
    grid-template-rows: min-content auto min-content;
    border: solid 1px #AAAAAA;
    border-radius: 10px;
}

.window-box .title {
    grid-area: windowTitle;
    border-radius: 9px 9px 0 0;
    background-color: #EEEEEE;
    padding: 10px;
    font-size: 18px;
}

.window-box .body {
    grid-area: windowBody;
    padding: 10px;
}

.window-box .footer {
    grid-area: windowFooter;
    border-radius: 0 0 9px 9px;
    background-color: #EEEEEE;
    padding: 10px;

}

.main-container2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "ltop top rtop" "lmiddle middle rmiddle" "lbottom bottom rbottom";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 300px auto;
}

.main-container2 .mid {
    grid-area: middle;
}


.register-form {
}

.register-form .label {
    display: block;
    font-size: 1.1em;
    margin-left: 5px;
    font-weight: bold;
    color: #AAAAAA;

}

.register-form .input {
    display: block;
    width: 90%;
    border: solid 1px #CCCCCC;
    border-radius: 7px;
    padding: 5px;
    text-align: center;
}

.register-form .field-container {
    display: block;
    margin-bottom: 10px;
}


.field-container ul.error-item {
    padding: 5px 0 5px 15px;
    margin: 0;
    color: #FF0000;
}

.field-container ul.error-item li {

}

div.error-item {
    padding: 10px;
    color: #FF0000;
}

input.error-item {
    border-color: #FF0000 !important;
}


.stage {
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-areas: "PageHeader" "PageContent";
}

.stage .page-header {
    grid-area: PageHeader;
    display: grid;
    grid-template-columns: 210px auto;
    grid-template-areas: "HeaderTitle HeaderContent";
    background: #8b8783;
    color: #EEEEEE;
}

.stage .page-header .title {
    grid-area: HeaderTitle;
    font-size: 1.5em;
    background-color: #2e2c2b;
    display: grid;
    min-height: 45px;
}

.stage .page-header .title a {
    justify-self: center;
    align-self: center;
}


.stage .page-header .content {
    grid-area: HeaderContent;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "MainMenu hOptions";
}

.stage .page-header .content .main-menu {
    grid-area: MainMenu;
    align-self: center;
    padding: 0 20px
}

.stage .page-header .content .h-options {
    grid-area: hOptions;
    justify-self: end;
    align-self: center;
    padding: 0 20px
}

.stage .page-header .content .h-options a {
    margin-left: 10px;
}

.stage .page-header .content .sub-menu {
    grid-area: SubMenu;
    justify-self: start;
    height: 20px;
    background: #00D31E;
}

.stage .page-container {
    grid-area: PageContent;
    display: grid;
    grid-template-areas: "aside stage";
    grid-template-columns: 210px auto;
}

.stage .page-container .aside {
    grid-area: aside;
    background-color: #444341;
}

.stage .page-container .aside a {
    display: block;
}

.stage .page-container .stage {
    grid-area: stage;
    padding: 20px;
}

table.data {
    display: table;
    width: 100%;
    background-color: #efedeb;
    border-bottom: solid 3px #8b8783;
}

table.data tr:hover td {
    background-color: #FFFFFF;
}

table.data tr.header td {
    display: table-cell;
    padding: 7px 5px;
    font-weight: bold;
    background-color: #8b8783;
}

table.data td {
    display: table-cell;
    padding: 5px;
    border-bottom: solid 1px #c4bfb9;
}

table.data td.alternate {
    background-color: #faf9f8;
}

.datagrid {
    display: grid;
    grid-template-rows: max-content min-content;
    grid-template-areas: "gbody" "gfooter";
    white-space: nowrap;
}

.datagrid .gbody {
    grid-area: gbody;
}

.datagrid .gfooter {
    grid-area: gfooter;
    display: grid;
    grid-template-columns: auto auto min-content;
    grid-template-areas: "lcol ccol rcol";
    align-items: start;
}


.datagrid .gfooter .lcol {
    grid-area: lcol;
    justify-self: start;
    align-self: center;
}

.datagrid .gfooter .ccol {
    grid-area: ccol;
    justify-self: end;
}

.datagrid .gfooter .rcol {
    align-self: center;
    padding-left: 10px;
    padding-top: 5px;
}


header.content-header {
    margin-bottom: 25px;
}

header.content-header h1 {
    margin: 0;
    padding: 0;
}

.side-block {
    background-color: #5B5A57;
    margin: 15px 0 15px 15px;
    color: #cfcac4;
}

.side-block .title {
    background-color: #2e2c2b;
    padding: 6px;
    font-weight: bold;
    color: #cfcac4;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "text icons";
    align-items: center;
}

.side-block .title .txt {
    grid-area: text;
    justify-self: start;
}

.side-block .title .icons {
    grid-area: icons;
    justify-self: end;
}


.side-block .content {
    padding: 10px 0 10px 10px;
}

.side-block a {
    display: block;
    background-color: #817f7b;
    padding: 4px 6px;
    margin-bottom: 2px;
}

.side-block a:hover {
    background-color: #b2aea9;
    color: #2e2c2b;
}

.form-field {
    display: block;
    margin-bottom: 6px;
}

.form-field label {
    display: block;
    padding-left: 4px;
}

.form-field .textbox {
    display: block;
    border-radius: 5px;
    border: none;
    padding: 3px 5px;
}

.form-field .dropdown {
    display: block;
    border-radius: 5px;
    border: none;
    padding: 2px 5px;
}

.form-field .button {
    display: block;
    border-radius: 5px;
    border: none;
    background-color: #2e2c2b;
    color: #cfcac4;
    padding: 5px 14px;
    cursor: pointer;
    right: 10px;

}

.twocols {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "lCol rCol";
}

.twocols .lCol {
    grid-area: lCol;
    justify-self: start;
}

.twocols .rCol {
    grid-area: rCol;
    justify-self: end;
}

.formgrid {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.formgrid .row {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-areas: "lCol rCol";
    grid-gap: 10px;
}

.formgrid .row .lCol {
    grid-area: lCol;
    text-align: right;
    font-weight: bold;
    padding-top: 3px;
}

.formgrid .row .rCol {
    grid-area: rCol;
}

.form-field .button:hover {
    background-color: #000000;
    color: #ffffff;
}

.pr-10 {
    padding-right: 10px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}


.errors-for .error-item {
    padding: 3px
}