{{define "body"}}

    <header class="content-header">
        <h1><i class="fas fa-users"></i> Users</h1>
        Search for users
    </header>

    <div class="datagrid">
        <div class="gbody">
            <table class="data" cellpadding="0" cellspacing="0">
                <tr class="header">
                    <td style="width: 12px;" title="Is Active">A</td>
                    <td style="width: 12px;" title="Is Confirmed">C</td>
                    <td style="width: 12px;" title="Is Locked">L</td>
                    <td style="width: 12px;" title="Must reset password">P</td>
                    <td style="width: 90px;">PublicID</td>
                    <td style="width: 200px;">FullName</td>
                    <td style="width: 200px;">Email</td>
                    <td></td>
                </tr>
                <tr v-for="i in Items" v-on:dblclick="document.location='/users/detail/'+i.PublicID">
                    <td>
                        <is-active v-bind:value="i.IsActive"></is-active>
                    </td>
                    <td>
                        <bool-view v-bind:value="i.IsConfirmed"
                                   true-class="fas fa-check-circle on"
                                   true-title="User confirmed"
                                   false-class="far fa-times-circle off"
                                   false-title="User not confirmed"
                                   clickable="false"></bool-view>
                    </td>
                    <td>
                        <bool-view v-bind:value="i.IsLocked"
                                   true-class="fas fa-user-lock "
                                   true-title="User is locker"
                                   false-class="fas fa-user-lock dis"
                                   false-title=""
                                   disabled-class="fas fa-user-lock dis"
                                   clickable="false"></bool-view>
                    </td>
                    <td>
                        <bool-view v-bind:value="i.MustResetPassword"
                                   true-class="fas fa-key "
                                   true-title="Must reset password"
                                   false-class="fas fa-key dis"
                                   false-title=""
                                   disabled-class="fas fa-key dis"
                                   clickable="false"></bool-view>
                    </td>
                    <td>[[i.PublicID]]</td>
                    <td>[[i.FullName]]</td>
                    <td>[[i.Email]]</td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="gfooter">
            <div class="lcol">[[Total]] registos, página [[Page]] de [[TotalPages]]</div>
            <div class="ccol">
                <pager
                        v-bind:page="Page"
                        v-bind:total="Total"
                        v-bind:page-size="PageSize"
                        v-on:page-change="OnPageChange($event)"
                        v-on:update="OnPagerUpdate($event)">
                </pager>
            </div>
            <div class="rcol">
                <div class="form-field">
                    <select v-model="PageSize" class="dropdown" v-on:change="OnPageSizeUpdate()">
                        <option v-bind:value="obj" v-for="(obj, ix) in PageSizes">[[obj]]</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

{{end}}

{{define "aside"}}

    <div class="side-block">
        <div class="title">Options</div>
        <div class="content">
            <a href="/users"><i class="fas fa-search"></i> Search users</a>
            <a href="/users/create"><i class="fas fa-user-plus"></i> Create user</a>
        </div>
    </div>

    <search-users
            v-bind:publicID="PublicID"
            v-bind:full-name="FullName"
            v-bind:email="Email"
            v-bind:is-active="IsActive"
            v-bind:is-confirmed="IsConfirmed"
            v-bind:is-locked="IsLocked"
            v-bind:must-reset-password="MustResetPassword"
            v-on:search="ApplyFilter($event)">
    </search-users>

{{end}}

{{define "scripts"}}
<script src="/static/js/users.js" type="application/javascript"></script>
{{end}}
