{{define "body"}}
<header class="content-header">
    <h1><i class="fas fa-user"></i> Users</h1>
    Manage user details
</header>

<div>
    <errors-for v-bind:errors="errors"></errors-for>
    <div>User Data</div>
    <div class="formgrid">
        <div class="row">
            <div class="lCol">PublicID:</div>
            <div class="rCol">[[usr.PublicID]]</div>
        </div>
        <div class="row">
            <div class="lCol">Email:</div>
            <div class="rCol">[[usr.Email]]</div>
        </div>
        <div class="row">
            <div class="lCol">Name:</div>
            <div class="rCol"><input type="text" v-model="usr.FullName"/>
                <button v-on:click="UpdateName"><i class="far fa-save"></i> Save</button>
            </div>
        </div>
        <div class="row">
            <div class="lCol">Is active:</div>
            <div class="rCol">
                <bool-view :value="usr.IsActive"
                           true-class="fas fa-toggle-on"
                           false-class="fas fa-toggle-off"
                           nullable="false"
                           v-on:change="updateActive($event)">
                </bool-view>
            </div>
        </div>
        <div class="row">
            <div class="lCol">Is locked:</div>
            <div class="rCol">
                <bool-view :value="usr.IsLocked"
                           true-class="fas fa-toggle-on"
                           false-class="fas fa-toggle-off"
                           nullable="false"
                           v-on:change="updateLocked($event)">
                </bool-view>
            </div>
        </div>
        <div class="row">
            <div class="lCol">Is confimed:</div>
            <div class="rCol">
                <bool-view :value="usr.IsConfirmed"
                           true-class="fas fa-toggle-on"
                           false-class="fas fa-toggle-off"
                           nullable="false"
                           clickable="false">
                </bool-view>
            </div>
        </div>
        <div class="row">
            <div class="lCol">Must reset Password:</div>
            <div class="rCol">
                <bool-view :value="usr.MustResetPassword"
                           true-class="fas fa-toggle-on"
                           false-class="fas fa-toggle-off"
                           nullable="false"
                           v-on:change="updateUMRP($event)">
                </bool-view>
            </div>
        </div>
    </div>

    <div>User password</div>
    <div class="formgrid">
        <div class="row">
            <div class="lCol">New Password:</div>
            <div class="rCol"><input type="text" v-model="pass" id="password">
                <button v-on:click="updatePass" v-if="!IsNullOrEmpty(pass)"><i class="far fa-save"></i> Set new</button>
                <errors-for v-bind:errors="errors" field="password"></errors-for>
            </div>
        </div>
    </div>
</div>

{{end}}

{{define "aside"}}

<div class="side-block">
    <div class="title">Options</div>
    <div class="content">
        <a href="/users"><i class="fas fa-search"></i> Search users</a>
        <a href="/users/create"><i class="fas fa-user-plus"></i> Create user</a>
    </div>
</div>

{{end}}

{{define "scripts"}}
<script src="/static/js/user.js" type="application/javascript"></script>
<script type="application/javascript">
    app.LoadUser("{{.CurrentID}}");
</script>
{{end}}