{{define "body"}}
<header class="content-header">
    <h1><i class="fas fa-user"></i> Users</h1>
    Create new user
</header>

<div>
    <errors-for v-bind:errors="errors"></errors-for>

    <div class="formgrid">
        <div class="row">
            <div class="lCol">Name</div>
            <div class="rCol">
                <input type="text" v-model="fullName"/>
                <errors-for v-bind:errors="errors" field="fullName"></errors-for>
            </div>
        </div>
        <div class="row">
            <div class="lCol">Email</div>
            <div class="rCol">
                <input type="text" v-model="email"/>
                <errors-for v-bind:errors="errors" field="email"></errors-for>
            </div>
        </div>
        <div class="row">
            <div class="lCol">Password</div>
            <div class="rCol">
                <input type="text" v-model="password"/>
                <errors-for v-bind:errors="errors" field="password"></errors-for>
            </div>
        </div>
        <div class="row">
            <div class="lCol">Confirm Password</div>
            <div class="rCol">
                <input type="text" v-model="passwordConf"/>
                <errors-for v-bind:errors="errors" field="passwordConf"></errors-for>
            </div>
        </div>
        <div class="row">
            <div class="lCol"></div>
            <div class="rCol"><button v-on:click="CreateUser"><i class="far fa-save"></i> Create</button></div>
        </div>
    </div>

</div>
{{end}}

{{define "aside"}}
<div class="side-block">
    <div class="title">Options</div>
    <div class="content">
        <a href="/users"><i class="fas fa-search"></i> Search users</a>
        <a href="/users/create"><i class="fas fa-user-plus"></i> Create user</a>
    </div>
</div>
{{end}}

{{define "scripts"}}
<script src="/static/js/users-new.js" type="application/javascript"></script>
{{end}}
