<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="main-container2">

<form class="mid window-box register-form">
    <header class="title">Email confirmation</header>
    <div class="body">

        {{errorsFor .ErrorList "" }}

        <p>Could not complete the operation.</p>

    </div>
    <footer class="footer">
        <a href="/">Log in</a>
        <a href="/register">Create Account</a>
        <a href="/forgot-password">Forgot Password?</a>
    </footer>
</form>

</body>
</html>