<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="main-container2">

<form action="/confirm" method="post" enctype="application/x-www-form-urlencoded" class="mid window-box register-form">
    <header class="title">Login</header>
    <div class="body">

        {{errorsFor .ErrorList "" }}

        <p>Hello {{.User.FullName}}</p>
        <p>Your account confirmation is still pending, please check your email and follow the instructions.</p>
        <p>Or</p>
        <p><a href="{{.NewTokenUrl}}">Click here</a> to send a new confirmation email.</p>

    </div>
    <footer class="footer">
        <a href="/">Log in</a>
        <a href="/register">Create Account</a>
        <a href="/forgot-password">Forgot Password?</a>
    </footer>
</form>

</body>
</html>