<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="main-container2">

<form action="/forgot-password" method="post" enctype="application/x-www-form-urlencoded"
      class="mid window-box register-form">
    <header class="title">Resetting Your Password</header>
    <div class="body">
        {{if .SendEmail }}
            <p>Password reset instructions will be emailed to <strong>{{.Email}}</strong> shortly.</p>
            <p>Please check your mailbox</p>
        {{else}}
            <p>Please provide the email address you used when you created your account.</p>
            <p>We will send you an email that will allow you to reset your password.</p>

            {{errorsFor .ErrorList "" }}

            <div class="field-container">
                <label for="txtEmail" class="label">Email </label>
                <input id="txtEmail" name="txtEmail" type="text" value="{{.Email}}" class="input ">
                {{errorsFor .ErrorList "email" }}
            </div>

            <div class="field-container">
                <input id="btnLogin" type="submit" value="Reset">
            </div>
        {{end}}
    </div>
    <footer class="footer">
        <a href="/">Log in</a>
        <a href="/register">Create Account</a>
        <a href="/forgot-password">Forgot Password?</a>
    </footer>
</form>

</body>
</html>