<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="main-container2">

<form action="/login" method="post" enctype="application/x-www-form-urlencoded" class="mid window-box register-form">
    <header class="title">Login</header>
    <div class="body">

        {{errorsFor .ErrorList "" }}

        <input if="csrf" name="csrf" type="hidden" value="{{.Csrf}}">
        <div class="field-container">
            <label for="txtEmail" class="label">Email </label>
            <input id="txtEmail" name="txtEmail" type="text" value="{{.Email}}" class="input ">
            {{errorsFor .ErrorList "email" }}
        </div>
        <div class="field-container">
            <label for="txtPassword" class="label">Password</label>
            <input id="txtPassword" name="txtPassword" type="password" value="{{.Password}}" class="input ">
            {{errorsFor .ErrorList "password" }}
        </div>
        <div class="field-container">
            <input id="btnLogin" type="submit" value="Loginn">
        </div>

    </div>
    <footer class="footer">
        <a href="/">Log in</a>
        <a href="/register">Create Account</a>
        <a href="/forgot-password">Forgot Password?</a>
    </footer>
</form>

</body>
</html>