<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="main-container2">

<form action="/account/change-password" method="post" enctype="application/x-www-form-urlencoded" class="mid window-box register-form">
    <header class="title">Change Password for {{.User.FullName}}</header>
    <div class="body">

        {{errorsFor .ErrorList "" }}

        <div class="field-container">
            <label for="txtOldPassword" class="label">Old Password</label>
            <input id="txtOldPassword" name="txtOldPassword" type="password" value="{{.OldPassword}}" class="input {{errorClassFor  .ErrorList "oldPassword"}}">
            {{errorsFor .ErrorList "oldPassword" }}
        </div>
        <div class="field-container">
            <label for="txtNewPassword" class="label">New Password</label>
            <input id="txtNewPassword" name="txtNewPassword" type="password" value="{{.NewPassword}}" class="input {{errorClassFor  .ErrorList "newPassword"}}">
            {{errorsFor .ErrorList "newPassword" }}
        </div>
        <div class="field-container">
            <label for="txtNewPasswordConf" class="label">New Password confirmation</label>
            <input id="txtNewPasswordConf" name="txtNewPasswordConf" type="password" value="{{.NewPasswordConf}}" class="input {{errorClassFor  .ErrorList "newPasswordConf"}}">
            {{errorsFor .ErrorList "newPasswordConf" }}
        </div>
        <div class="field-container">
            <input id="btnChangePass" type="submit" value="Change Password">
        </div>

    </div>
    <footer class="footer">
        <a href="/">Log in</a>
        <a href="/register">Create Account</a>
        <a href="/forgot-password">Forgot Password?</a>
    </footer>
</form>

</body>
</html>