<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="main-container2">

<form action="/register" method="post" enctype="application/x-www-form-urlencoded" class="mid window-box register-form">
    <header class="title">Create new account</header>
    <div class="body">

        <input if="csrf" name="csrf" type="hidden" value="{{.Csrf}}">
        <div class="field-container">
            <label for="txtName" class="label">Full Name </label>
            <input id="txtName" name="txtName" type="text" value="{{.Name}}" class="input {{errorClassFor  .ErrorList "fullName"}}">
            {{errorsFor .ErrorList "fullName" }}
        </div>
        <div class="field-container">
            <label for="txtEmail" class="label">Email </label>
            <input id="txtEmail" name="txtEmail" type="text" value="{{.Email}}" class="input {{errorClassFor  .ErrorList "email"}}">
            {{errorsFor .ErrorList "email" }}
        </div>
        <div class="field-container">
            <label for="txtPassword" class="label">Password</label>
            <input id="txtPassword" name="txtPassword" type="password" value="{{.Password}}" class="input {{errorClassFor  .ErrorList "password"}}">
            {{errorsFor .ErrorList "password" }}
        </div>
        <div class="field-container">
            <label for="txtPassConf" class="label">Confim Password</label>
            <input id="txtPassConf" name="txtPassConf" type="password" value="{{.PasswordConf}}" class="input {{errorClassFor  .ErrorList "passwordConf"}}">
            {{errorsFor .ErrorList "passwordConf" }}
        </div>
        <div class="field-container">
            <input id="btnLogin" type="submit" value="Register">
        </div>

    </div>
    <footer class="footer">
        <a href="/">Log in</a>
        <a href="/register">Create Account</a>
        <a href="/forgot-password">Forgot Password?</a>
    </footer>
</form>

</body>
</html>